<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
        <!-- Link my styles -->
        <link rel="stylesheet" href="../Public/styles.css">
        <title>Works</title>
    </head>
<body>
    <!-- NAV -->
    <div id="nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="./Home.html">Henri Matisse</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div  id="navbarNavLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./Home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./About.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="./Works.html">Works <span class="sr-only">(current)</span></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- END NAV -->
    <div class="container" id="works-gallery">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../public/images/copse-of-the-banks-of-the-garonne-1900.jpg!Large.jpg" alt="Lights" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <br>
                                <p>Bosquet des bords de garonne</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/public/images/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbWF0aXNzZS1kYW5jZS0xOTEwLmpwZyIsInJlc2l6ZSwyMDAwLDIwMDAiXX0.pHoSeAFi8prSh6-P2cRPnPQn8lSLyP0h1CEXFgk-9o8.jpg" alt="Nature" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <br>
                                <p>La dance</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="../public/images/le-luxe-1907.jpg!Large (1).jpg" alt="Fjords" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <br>
                                <p>Le luxe</p>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../public/images/téléchargement.jpeg" alt="Lights" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <br>
                                <p>La Gerbe</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../public/images/the-joy-of-life-1906.jpg!Large.jpg" alt="Nature" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <br>
                                <p>Le bonheur de vivre</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="../public/images/the-young-sailor-ii-1906.jpg!Large.jpg" alt="Fjords" style="width:100%">
                        <div class="overlay">
                            <div class="text">
                                <br>
                                <p>Le jeune marin</p>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>